@font-face {
  font-family: Lilliput Steps;
  src: url(/font/lilliput_steps.ttf);
}

@font-face {
  font-family: Gothic Pixels;
  src: url(/font/GothicPixels.ttf);
}

html,
body {
  height: 100%;
  background-image: url(/images/tiles/game-background.png);
  background-repeat: repeat;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Lilliput Steps;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gothic Pixels;
  background: repeating-linear-gradient(
    140deg,
    rgba(123, 104, 238, 1) 0% 15%,
    rgba(152, 251, 152, 1) 15% 30%,
    rgba(255, 160, 122, 1) 30% 45%,
    rgba(0, 191, 255, 1) 45% 60%,
    rgba(255, 215, 0, 1) 60% 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.screen {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-repeat: no-repeat;
}

/*--------Start--------*/

#start-screen {
}

h1 {
  font-size: 9rem;
  padding-top: 50px;
}

button {
  font-family: Lilliput Steps;
  color: white;
  border: 5px solid white;
  background-color: black;
  font-size: 32px;
}

#startButton {
  width: 200px;
  height: 60px;
}

button:hover {
  color: black;
  border-color: black;
  background: repeating-linear-gradient(
    140deg,
    rgba(123, 104, 238, 1) 0% 15%,
    rgba(152, 251, 152, 1) 15% 30%,
    rgba(255, 160, 122, 1) 30% 45%,
    rgba(0, 191, 255, 1) 45% 60%,
    rgba(255, 215, 0, 1) 60% 75%
  );
  background-position: 60%;
}

/*----------In game-----------*/

#score {
  font-family: Lilliput Steps;
  color: white;
  font-size: 30px;
  background-color: black;
}

#mainCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  padding: 0;
  margin: 0;
  background-color: black;
  border: 10px dashed white;
}

/*----------Side screens----------*/

#sprite,
#manual {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  height: 260px;
  width: 260px;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#manual {
  background-image: url(/images/tiles/scroll.png);
}

#manual p {
  margin: 0 5px 20px 0;
  padding: 0;
  color: palegreen;
  text-align: center;
}

/*----------Game Over-----------*/

#game-over-screen {
  display: flex;
  flex-direction: column;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#game-over-screen img {
  width: 8%;
}

h2 {
  font-size: 7rem;
  line-height: 0;
  padding: 110px 0 20px;
}

#game-over-screen p,
#endScore {
  font-size: 24px;
  color: white;
}

#moreButton {
  margin-top: 5px;
  margin-bottom: 40px;
  width: 260px;
  height: 60px;
}

#game-over-screen p:last-child {
  font-size: 12px;
  color: palegreen;
}
