@font-face {
  font-family: Lilliput Steps;
  src: url(/font/lilliput_steps.ttf);
}

html,
body {
  height: 100%;
  background-image: url(/images/tiles/game-background2.png);
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Lilliput Steps;
}

.screen {
  width: 800px;
  height: 600px;
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*  Start */

#start-screen {
  /* border: 1px solid white; */
  background-image: url(/images/tiles/start-screen_c.png);
}

button {
  font-family: Lilliput Steps;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 24px;
  border-radius: 5px;
}

#startButton {
  margin-top: 340px;
  margin-right: 190px;
  width: 200px;
  height: 60px;
}

#startButton:hover {
  background-image: url("/images/tiles/stripes_qu.png");
  background-position: 60%;
}

/*  In game */

#score {
  font-family: Lilliput Steps;
  font-size: 30px;
  color: white;
}

#mainCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  padding: 0;
  margin: 0;
  background-color: black;
  border: 10px dashed white;
  /* border-image: url(/images/tiles/bordertiles.png) 36% round; */
}

/*  Side screens */

#sprite,
#manual {
  padding: 0;
  margin: 60px;
  background-image: url(/images/scroll.png);
  background-repeat: no-repeat;
}

#manual {
  background-color: black;
  background-size: 100%;
  background-position: 60%;
}

#manual p {
  font-family: Lilliput Steps;
  margin-top: 160px;
  font-size: 20px;
  color: white;
}

/*  Game Over */

#game-over-screen {
  display: flex;
  flex-direction: column;
  /* border: 3px solid white; */
  background-image: url(/images/tiles/endScreen.png);
  background-size: 100%;
}

h4 {
  margin-top: 160px;
  font-size: 20px;
  color: white;
}

#moreButton {
  margin-top: 10px;
  width: 200px;
  height: 60px;
}

#moreButton:hover {
  background-image: url("/images/tiles/stripes_qu.png");
  background-position: 55%;
}
